<ul class="position-sticky sticky-top nav flex-column">
  <li class="nav-item mb-2">
  </li>

  <% companies.each do |company| %>
    <li class="nav-item">
      <%= link_to company.name, company_path(company), class: "nav-link text-dark" %>
    </li>
  <% end %>
</ul>
